{% extends 'base.html.twig' %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <img src="{{ asset('assets/img/bilmo.jpg') }}" alt="logo" style="height: auto; max-width: 100%;"/>
    </div>
    <div style="text-align: center; margin-top: 50px;">
        <a href="/api" style="background-color: #4CAF50; text-decoration: none; color: white; text-align: center; padding: 15px 32px; border-radius: 5px;">Go to API</a>
    </div>
{% endblock %}